.landing {
    width: 100vw;
    height: 400vh;
    .nothingLogo {
        position: sticky;
        top: 50vh;
        left: 50%;
        width: 50%;
        height: auto;
        max-width: 500px;
        z-index: 2;
        transform: translate(-50%,-50%);
        opacity: 1;
        transition: .75s ease-in-out;
        &.load-state {
            transform: translate(-50%,-50%);
            opacity: 1;
        }
        &.first-animation {
            transform: translate(-50%,calc(-50% - 500px));
            opacity: 0;
        }
        &.second-animation {
            transform: translate(-50%,calc(-50% - 500px));
            opacity: 0;
        }
        &.third-animation {
            transform: translate(-50%,calc(-50% - 500px));
            opacity: 0;
        }
        path {
            fill: #F8DF31;
        }
    }
    .earbud-container {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh; 
        z-index: 2;
        pointer-events: none;
        .earbud {
            transition: .5s ease-in-out .25s; 
            width: 50%;
            &.load-state {
                transform: scale(1);
                opacity: 1;
                filter: blur(50px);
            }
            &.first-animation {
                transform: translate(0px, 50%) rotate(90deg) scale(2);
                filter: blur(0px);
                @include below(700px) {
                    transform: translate(5%, 10%) rotate(90deg) scale(2);
                }
            }
            
            &.second-animation {
                transform: translate(-25%, 0%) rotate(55deg) scale(0.5);
            }

            &.third-animation {
                transform: translate(-20vw, 0%) rotate(90deg) scale(.6);
                @include below(1000px) {
                    transform: translate(-20vw, 0%) rotate(90deg) scale(.75);
                }
                @include below(750px) {
                    transform: translate(-100vw, 0%) rotate(90deg) scale(.75);
                    opacity: 0;
                    pointer-events: none;
                }
            }
        }
        .earbudTwo {
            position: absolute;
            transition: .5s ease-in-out .25s; 
            width: 50%;
            opacity: 0;
            &.load-state {
                transform: translate(25%, -100vh) rotate(235deg) scale(0.5);
                opacity: 0;
            }
            &.first-animation {
                transform: translate(25%, -100vh) rotate(200deg) scale(0.5);
                opacity: 0;
            }
            
            &.second-animation {
                transform: translate(25%, 0%) rotate(235deg) scale(0.5);
                opacity: 1;
            }

            &.third-animation {
                transform: translate(125%, 0%) rotate(55deg) scale(0.5);
                opacity: 0;
            }
        }
    }
    .sectionOne {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        color: white;
        font-size: 5rem;
        width: 50vw;
        line-height: .8;
        transition: .5s ease-in-out .25s;
        transform: translateX(-100%);
        z-index: 3;
        @include below(900px) {
            font-size: 1rem;
            width: calc(100% - 2rem);
            text-align: center;
        }
        p {
            margin: 0;
        }
        &.load-state {
            opacity: 0;
            transform: translateX(-100%);
        }
        &.first-animation {
            opacity: 1;
            transform: translateX(0%);
        }
        &.second-animation {
            opacity: 0;
            transform: translateX(-100%);
        }
        &.third-animation {
            opacity: 0;
            transform: translateX(-100%);
        }
    }
    .sectionTwo {
        position: fixed;
        top: 1rem;
        left: 1rem;
        color: white;
        width: calc(100vw - 2rem);
        height: calc(100vh - 2rem);
        line-height: .8;
        transition: .75s ease-in-out;
        transform: translateX(-100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        p {
            margin: 0;
            -webkit-text-stroke: 1px white;
            font-size: 15rem;
            text-align: center;
            z-index: 1;
            @include below(900px) {
                font-size: 10rem;
            }
            @include below(600px) {
                font-size: 5rem;
            }
            &:nth-child(1) {
                animation: textColorOne 3s infinite linear;
            }
            &:nth-child(2) {
                animation: textColorTwo 3s infinite linear;
            }
            &:nth-child(3) {
                animation: textColorThree 3s infinite linear;
            }
            @keyframes textColorOne { 
                0% {
                    color: transparent;
                }
                32% {
                    color: transparent;
                }
                35% {
                    color: white;
                }
                100% {
                    color: white;
                }
            }
            @keyframes textColorTwo { 
                0% {
                    color: white;
                }
                32% {
                    color: white;
                }
                35% {
                    color: transparent;
                }
                65% {
                    color: transparent;
                }
                68% {
                    color: white;
                }
                100% {
                    color: white;
                }
            }
            @keyframes textColorThree { 
                0% {
                    color: white;
                }
                32% {
                    color: white;
                }
                35% {
                    color: white;
                }
                65% {
                    color: white;
                }
                68% {
                    color: transparent;
                }
                100% {
                    color: transparent;
                }
            }
        }
        &.load-state {
            opacity: 0;
            transform: translateX(100%);
        }
        &.first-animation {
            opacity: 0;
            transform: translateX(100%);
        }
        &.second-animation {
            opacity: 1;
            transform: translateX(0%);
        }
        &.third-animation {
            opacity: 0;
            transform: translateX(100%);
        }
    }
    .sectionThree {
        position: fixed;
        bottom: 1rem;
        left: 1rem;
        color: white;
        width: calc(100vw - 2rem);
        height: calc(100vh - 2rem);
        line-height: .8;
        transition: .75s ease-in-out;

        .productInfo {
            position: absolute;
            height: 500px;
            width: calc(50vw - 5rem);
            top: 50%;
            left: 50vw;
            color: white;
            transition: .75s ease-in-out;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            transform: translateY(-50%);
            margin-left: 5rem;
            @include below(1000px) {
                margin-left: 0;
            }
            @include below(750px) {
                width: calc(100% - 6rem);
                left: 3rem;
                text-align: center;
                font-size: .8rem;
                .buttonContainer {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            .titleContainer {
                font-size: 5rem;
                p {
                    margin: 0;
                    &:nth-last-child(1) {
                        color: #F8DF31;
                    }
                }
            }
            .features {
                margin: 0;
            }
            button {
                font-size: 1rem;
                padding: .75rem 2rem;
                background-color: #F8DF31;
                border: none;
                border-radius: 25px;
                max-width: 150px;
                cursor: pointer;
                transition: .75s ease-in-out;
                @include below(750px) {
                    font-size: .8rem;
                }
                &:hover {
                    background-color: white;
                }
            }
            .dots {
                display: flex;
                gap: 1rem;
                @include below(750px) {
                    align-items: center;
                    justify-content: center;
                }
                .dot {
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: white;
                    transition: .75s ease-in-out;
                    cursor: pointer;
                    &:nth-child(1) {
                        background-color: #F8DF31;
                    }
                    &:hover {
                        background-color: #F8DF31;
                    }
                }
            }
        }
        &.load-state {
            .productInfo {
                opacity: 0;
                transform: translate(100%, -50%);
            }
        }
        &.first-animation {
            .productInfo {
                opacity: 0;
                transform: translate(100%, -50%);
            }
        }
        &.second-animation {
            .productInfo {
                opacity: 0;
                transform: translate(100%, -50%);
            }
        }
        &.third-animation {
            .productInfo {
                opacity: 1;
                transform: translate(0%, -50%);
            }
        }
    }

}




