.searchContainer {
    display: flex;
    gap: 1rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 10;
    transition: .5s ease-in-out .25s;
    &.load-state {
        opacity: 0;
    }
    @include below(750px) {
        transform: scale(.5);
        transform-origin: top right;
    }
    .search {
        display: flex;
        align-items: center;
        &:hover {
            input {
                background-color: rgba(20,20,20,.9);
                border: 1px solid rgba(255,255,255,.05);
            }
            .arrow {
                background-color: white;
                transition: .25s ease-in-out;
                svg {
                    transform: rotate(0deg);
                }
            }

        }
        input {
            background-color: rgba(20,20,20,.75);
            backdrop-filter: blur(10px);
            border: none;
            height: calc(50px - 2rem);
            border-radius: 25px;
            padding: 1rem 2rem;
            padding-left: 1.5rem;
            max-width: 250px;
            width: 250px;
            cursor: pointer;
            transition: .25s ease-in-out;
            border: 1px solid rgba(255,255,255,0);
            color: white;
            &:active, &:focus {
                outline: none;
            }
        }
        .arrow {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #F8DF31;
            border: none;
            transform: translateX(calc(-100% - 5px));
            cursor: pointer;
            padding: .9rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: .25s ease-in-out;
            svg {
                width: 100%;
                height: auto;
                transform: rotate(-45deg);
                transition: .25s ease-in-out;
            }
        }
    }
    .explore {
        background-color: #F8DF31;
        border: none;
        border-radius: 25px;
        padding: 1rem 2rem;
        margin-left: -45px;
        cursor: pointer;
        transition: .25s ease-in-out;
        color: black;
        &:hover {
            background-color: white;
        }
    }
}
