.sidebarContainer {
    position: fixed;
    top: 0%;
    left: 0;
    width: 50vh;
    z-index: 10;
    transition: .5s ease-in-out .25s;
    &.load-state {
        opacity: 0;
    }
    @include below(750px) {
        transform: scale(.5);
        transform-origin: top left;
    }
    .sidebar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(20,20,20,.75);
        align-self: center;
        padding: 1rem;
        border-radius: 25px;
        backdrop-filter: blur(10px);
        transform: rotate(-90deg) translate(-100%, 1rem);
        transform-origin: top left;
        margin-top: 1rem;
        margin-right: 1rem;
        transition: .25s ease-in-out;
        border: 1px solid rgba(255,255,255,.0);
    
        &:hover {
            background-color: rgba(20,20,20,.9);
            border: 1px solid rgba(255,255,255,.05);
            .logoContainer svg {
                background-color: white;
                path {
                    fill: black;
                }
            }
    
        }
        .infoContainer {
            display: flex;
            align-items: center;
            color: white;
            gap: 1rem;
            img {
                height: 50px;
                width: auto;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }
        .logoContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                background-color: #F8DF31;
                width: 100px;
                height: calc(50px - 2rem);
                padding: 1rem 2rem;
                border-radius: 25px;
                transition: .25s ease-in-out;
                cursor: pointer;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
    } 
}

