.sidebarContainer {
    position: fixed;
    top: 0%;
    left: 0;
    width: 50vh;
    z-index: 10;
    transition: .5s ease-in-out .25s;
    &.load-state {
        opacity: 0;
    }
    @include below(750px) {
        transform: scale(.5);
        transform-origin: top left;
    }
    .sidebar {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        background-color: rgba(20,20,20,.75);
        align-self: center;
        padding: 1rem;
        border-radius: 25px;
        backdrop-filter: blur(10px);
        transform: rotate(-90deg) translate(-100%, 1rem);
        transform-origin: top left;
        margin-top: 1rem;
        margin-right: 1rem;
        transition: .25s ease-in-out;
        border: 1px solid rgba(255,255,255,.0);
    
        &:hover {
            background-color: rgba(20,20,20,.9);
            border: 1px solid rgba(255,255,255,.05);
            .logoContainer svg {
                background-color: white;
                path {
                    fill: black;
                }
            }
    
        }
        .infoContainer {
            display: flex;
            align-items: center;
            color: white;
            gap: 1rem;
            img {
                height: 50px;
                width: auto;
                aspect-ratio: 1/1;
                border-radius: 50%;
            }
        }
        .logoContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            svg {
                background-color: #F7DF2F;
                width: 100px;
                height: calc(50px - 2rem);
                padding: 1rem 2rem;
                border-radius: 25px;
                transition: .25s ease-in-out;
                cursor: pointer;
                &:hover {
                    transform: scale(1.05);
                }
            }
        }
        .search {
            display: flex;
            align-items: center;
            &:hover {
                input {
                    background-color: rgba(20,20,20,.9);
                    border: 1px solid rgba(255,255,255,.05);
                }
                .arrow {
                    background-color: white;
                    transition: .25s ease-in-out;
                    svg {
                        transform: rotate(0deg);
                    }
                }
    
            }
            input {
                background-color: rgba(20,20,20,.75);
                backdrop-filter: blur(10px);
                border: none;
                height: calc(50px - 2rem);
                border-radius: 25px;
                padding: 1rem 2rem;
                max-width: 250px;
                width: 250px;
                cursor: pointer;
                transition: .25s ease-in-out;
                border: 1px solid rgba(255,255,255,0);
                &:active, &:focus {
                    outline: none;
                }
            }
            .arrow {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                background-color: #F7DF2F;
                border: none;
                transform: translateX(calc(-100% - 2.5px));
                cursor: pointer;
                padding: .9rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: .25s ease-in-out;
                svg {
                    width: 100%;
                    height: auto;
                    transform: rotate(-45deg);
                    transition: .25s ease-in-out;
                }
            }
        }
        .explore {
            background-color: #F7DF2F;
            border: none;
            border-radius: 25px;
            padding: 1rem 2rem;
            margin-left: -45px;
            cursor: pointer;
            transition: .25s ease-in-out;
            &:hover {
                background-color: white;
            }
        }
    }

}

